<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Password Change</title>
</head>

<body>
    <% if(error.length>0) { %>
        <div class="alert">
            <h3>
                <%= error %>
            </h3>
        </div>
        <% } %>
            <% if(message.length>0) { %>
                <div class="alert">
                    <h3>
                        <%= message %>
                    </h3>
                </div>
                <% } %>
                    <div id="container">
                        <div id="wallpaper">
                            <img src="/images/wallpaper.png" alt="world" id="pic">
                            <% if( error == '' && message == '' ) {%>
                                <img src="/images/icon1.png" alt="icon" id="icon">
                                <% } %>
                        </div>
                        <div id="form">
                            <div id="login" style="margin-left:10vw;">
                                Change Password
                            </div>
                            <form action="/changePassword" method="POST">
                                <input type="hidden" name="userId" id="userId" value="<%= user %>">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <% if(error.length > 0) {%>
                                    <div class="error">
                                        <input type="password" id="password" name="password" placeholder="Current password">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    </div>
                                    <% } else {%>
                                        <div class="input">
                                            <input type="password" id="password" name="password" placeholder="Current password" value="<%= user %>">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                        </div>
                                        <% } %>

                                            <button type="submit" id="button">Send mail</button>
                            </form>

                        </div>

                    </div>
</body>


</html>